{% extends 'feed/layout.html' %}
{% load crispy_forms_tags %}
{% load static %} 
{% block cssfiles %}{% endblock cssfiles %}
{% block content %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        <b class="text-danger">
                            Password reset
                        </b>
                    </h3>
                    <p class="mt-4">
                        Forgotten your password? Enter your email address below, and we’ll email
                        instructions for setting a new one.
                    </p>
                    <form action="" class="form-signing" method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <br/>
                            {{ form|crispy }}
                        </fieldset>
                        <hr class="my-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-danger ">
                                Reset my password
                            </button><br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}