{% extends 'feed/layout.html' %}
{% load crispy_forms_tags %}
{% load static %} 
{% block cssfiles %}{% endblock cssfiles %}
{% block content %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto text-center">
                    <h2 class="lead mt-5 text-uppercase">
                        Password reset complete
                    </h2>
                    <p class="mt-3">
                        Your password has been set. You may go ahead and log in now.
                    </p>
                    <form class="form-signing mt-2">
                        <div class="form-group">
                            <a href="{% url 'login' %}" class="btn btn-outline-info text-uppercase">
                                Log in
                            </a>
                        </div>
                    </form>
        </div>
    </div>
</div>
{% endblock %}